<div class= "w-full flex items-center justify-between space-x-4">
  <%= form.file_field :cover_image, class: "block w-full" %>
  <%= form.text_field :name, placeholder: "Album Name", class: "block w-full px-4 py-2 border border-gray-300 rounded-md focus:ring focus:ring-blue-200 focus:outline-none" %>
</div>
